@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Inter';
    src: url('https://fonts.gstatic.com/s/Inter/v2/static/Inter-Regular.woff2') format('woff2'), url('https://fonts.gstatic.com/s/Inter/v2/static/Inter-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('https://fonts.gstatic.com/s/Inter/v2/static/Inter-Bold.woff2') format('woff2'), url('https://fonts.gstatic.com/s/Inter/v2/static/Inter-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  
  body {
    font-family: 'Inter';
  }
  
  